.vs/config/applicationhost.config
.vs/Schiffe_Versenken/v15/.suo
.vs/Schiffe_Versenken/v15/sqlite3/storage.ide
Schiffe_Versenken/bin/Schiffe_Versenken.dll
Schiffe_Versenken/bin/Schiffe_Versenken.pdb
Schiffe_Versenken/obj/Debug/Schiffe_Versenken.dll
Schiffe_Versenken/obj/Debug/Schiffe_Versenken.pdb
Schiffe_Versenken/obj/Debug/Schiffe_Versenken.csproj.CoreCompileInputs.cache
Schiffe_Versenken/obj/Debug/Schiffe_Versenken.csproj.CoreCompileInputs.cache
Schiffe_Versenken/obj/Debug/Schiffe_Versenken.csproj.FileListAbsolute.txt
Schiffe_Versenken/obj/Debug/Schiffe_Versenken.csprojResolveAssemblyReference.cache
